@page
@model ProjectCOM.Pages.ContactsModel
@{
	<div class="section over-hide">
								<div class="container">
									<div class="row full-height justify-content-center">
										<div class="col-12 text-center align-self-center py-5">
											<div class="section text-center py-5 py-md-0">
											  	<input class="pricing" type="checkbox" id="pricing" name="pricing"/>
											  	<label for="pricing"><span class="block-diff">Technology<span class="float-right">Accessories</span></span></label>
												<div class="card-3d-wrap mx-auto">
													<div class="card-3d-wrapper">
														<div class="card-front">
															<div class="pricing-wrap">
																<h4 class="mb-5">Technology</h4>
																<h2 class="mb-2"><sup></sup>Plovdiv, Bulgaria<sup></sup></h2>
																<p class="mb-4">47 Newlymade Road</p>
																<p class="mb-1"><i class="uil uil-location-pin-alt size-22"></i></p>
																<p class="mb-4">Telephone:</p>
																	<p class="mb-4">08999999999</p>
																	<p class="mb-4">Email: admin@mail.com</p>

																<div class="img-wrap img-2">
																	<img src="/images/technology.png" alt="">
																</div>
																<div class="img-wrap img-1">
												<img src="https://www.pngall.com/wp-content/uploads/2016/05/Tablet-PNG-HD.png" style="width: 200px; margin: 80px; margin-top: 28px;">
																</div>
																<div class="img-wrap img-3">
															<img src="https://www.pngall.com/wp-content/uploads/13/Digital-Camera-PNG-Photo.png" style="width: 150px; margin-left: 70px; margin-top: 20px;">
																</div>
																<div class="img-wrap img-6">
															<img src="https://www.pngall.com/wp-content/uploads/5/Headset-PNG-Picture.png" style="width: 200px;">
																</div>
														  	</div>
													  	</div>
														<div class="card-back">
															<div class="pricing-wrap">
																<h4 class="mb-5">Accessories</h4>
																<h2 class="mb-2"><sup></sup>HIGH QUALITY<sup></sup></h2>
																<p class="mb-4"></p>
																<p class="mb-1"><i class="uil uil-location-pin-alt size-22"></i></p>
																<p class="mb-4">All for you</p>
																<div class="img-wrap img-2">
																	<img src="/images/accessories.png" alt="">
																</div>
																<div class="img-wrap img-4">
												<img src="https://www.pngall.com/wp-content/uploads/2016/05/Tablet-Download-PNG.png" style="width: 150px; margin-top: 28px;">
																</div>
																<div class="img-wrap img-5">
											<img src="https://www.pngplay.com/wp-content/uploads/12/Smartphone-PNG-Free-File-Download.png" style="width: 200px; margin-left: 70px; margin-top: 20px;">
																</div>
																<div class="img-wrap img-7">
											<img src="https://www.emtec-international.com/sites/default/files/styles/colorbox/public/product-images/c410-8gb-purple-3-4-open.png?itok=kdn4dMe3" style="width: 150px;">
																</div>
														  	</div>
													  	</div>
												  	</div>
											  	</div>
										  	</div>
									  	</div>
								  	</div>
								</div>
	</div>
}
